<!doctype html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
	<head>
		{% load static %}
		<title>RedditSentiment</title>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'analyze_sentiment.css' %}">
	</head>
	<body>
		<!-- TOP -->
		<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
			
		<!-- NAV -->
		<div class="nav" data-uk-sticky="cls-active: uk-background-secondary uk-box-shadow-medium; top: 100vh; animation: uk-animation-slide-top">
			<div class="uk-container">
				<nav class="uk-navbar uk-navbar-container uk-navbar-transparent" data-uk-navbar>
					<div class="uk-navbar-left">
						<div class="uk-navbar-item uk-padding-remove-horizontal">
							<a class="uk-logo" title="Logo" href="/">RedditSentiment</a>
						</div>
					</div>
					<div class="uk-navbar-right">
						<ul class="uk-navbar-nav uk-visible@s">
							<li class="uk-active uk-visible@m"><a href="https://github.com/jeffreyzhang2001/reddit-sentiment-analysis-dashboard" data-uk-icon="icon: github; ratio: 1.3"></a></li>
							<li class="uk-active uk-visible@m"><a href="/" data-uk-icon="home"></a></li>
							<li><a href="/about">About</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- /NAV -->
			
		<div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height">	
			<!-- TOP CONTAINER -->
			<div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
				<div class="uk-width-1-2@s" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
					<h6 class="uk-text-primary uk-margin-small-bottom">r/{{subreddit}} - {{subreddit_info.subscribers}} subscribers</h6>
					<h1 class="uk-margin-remove-top">{{subreddit_info.title}}</h1>
					<p class="subtitle-text uk-visible@s"> {{subreddit_info.public_description}} </p>
					<div title="Sentiment Score" class="uk-button uk-button-primary uk-disabled uk-border-pill" data-uk-scrollspy-class="uk-animation-fade">Average Sentiment Score: {{subreddit_info.average_sentiment_score}}</div>
				</div>
			</div>
			<!-- /TOP CONTAINER -->
			<!-- TOP IMAGE -->
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://picsum.photos/640/700/?image=816 640w,
			https://picsum.photos/id/1045/960/700/ 960w,
			https://picsum.photos/id/1045/1200/900/ 1200w,
			https://picsum.photos/id/1045/2000/1000/ 2000w"
			data-sizes="100vw"
			data-src="https://picsum.photos/id/1045/1200/900/" alt="" data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0"
			>
		</div>
			<!-- /TOP IMAGE -->
			<!-- NAV ARROW DOWN -->
			<div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
				<a href="#submission" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2"></a>
			</div>
			<!-- /NAV ARROW DOWN -->
		</div>
		<!-- /TOP -->
		
		<!-- SUBMISSION -->
		{% for submission in master_submission_data_list %}
		<section id = "submission" class="uk-section uk-section-secondary uk-section-large">
			<div class="uk-container">
				<div class="uk-grid uk-child-width-3-5@l uk-flex-left">
					<div>
						<h6>{{submission.score}} upvotes ({{submission.upvote_ratio}}% upvote ratio)</h6>
						<h2 class="uk-margin-small-top uk-h1"><a href={{submission.url}}>{{submission.title}}</a></h2>
						<p class="subtitle-text">
							Posted by u/{{submission.author}} at {{submission.timestamp}}
						</p>
						<div title="Sentiment Score" class="uk-button uk-button-primary uk-disabled uk-border-pill" data-uk-scrollspy-class="uk-animation-fade">Average Sentiment Score: {{submission.average_sentiment_score}}</div>
					</div>
				</div>
			</div>
		</section>
		<!-- COMMENTS SECTION -->
		<section class="uk-cover-container overlay-wrap">
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://picsum.photos/640/650/?image=770 640w,
			https://picsum.photos/id/171/960/650/?blur 960w,
			https://picsum.photos/id/171/1200/650/?blur 1200w,
			https://picsum.photos/id/171/2000/650/?blur 2000w"
			data-sizes="100vw"
			data-src="https://picsum.photos/id/171/1200/650/?blur" alt="" data-uk-cover data-uk-img
			>
			<div class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-xlarge uk-light">
				<div class="uk-grid uk-flex-left">
					
					<div class="uk-width-5-5@m uk-padding-remove" data-uk-parallax="y: 50,-50; easing: 0; media:@l">
						<h5>COMMENTS</h5>
						<div class="uk-position-relative uk-visible-toggle uk-light" data-uk-slider="easing: cubic-bezier(.16,.75,.47,1)">
							<ul class="uk-slider-items uk-child-width-1-1">
								{% for comment in submission.comments %}
								<li>
									<div data-uk-slider-parallax="opacity: 0.2,1,0.2">
										<h3 class="">{{comment.text}}</h3>
										<h6>{{submission.score}} upvotes</h6>
										<p class="uk-text-meta">Posted by u/{{comment.author}} at {{comment.timestamp}}</p>
										<div title="Sentiment Score" class="uk-button uk-button-primary uk-disabled uk-border-pill" data-uk-scrollspy-class="uk-animation-fade">Sentiment Score: {{comment.sentiment_score}}</div>
									</div>
								</li>
								{% endfor %}
							</ul>
							<ul class="uk-slider-nav uk-dotnav uk-margin-top"><li></li></ul>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- COMMENTS SECTION -->
		{% endfor %}
		<!-- /SUBMISSION -->


		
		<!-- JS FILES -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
	</body>
</html>
{% endblock %}
